/* line 2, ../scss/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../scss/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../scss/reset.scss */
body {
  line-height: 1;
}

/* line 30, ../scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../scss/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../scss/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../scss/style.scss */
body {
  background-color: #f8a102;
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
}
/* line 9, ../scss/style.scss */
body #pattern {
  position: absolute;
  left: 0;
  background: url(/img/pattern.jpg);
  background-repeat: repeat-x;
  height: 25px;
  width: 100%;
  background-color: red;
  position: absolute;
  top: -10px;
}
/* line 20, ../scss/style.scss */
body header {
  width: 1024px;
  margin: 0 auto;
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 27, ../scss/style.scss */
body header h2,
body header p {
  color: white;
}
/* line 31, ../scss/style.scss */
body header h2 {
  font-family: Creepster;
  font-size: 53px;
}
/* line 35, ../scss/style.scss */
body header p {
  font-family: coolvetica;
  font-size: 30px;
  height: 30px;
  text-align: left;
}
/* line 41, ../scss/style.scss */
body header #logo {
  height: 116px;
  width: 178px;
  background: url(/img/logo-final.jpg) center;
}
/* line 47, ../scss/style.scss */
body main {
  width: 1024px;
  height: 685px;
  margin: 0 auto;
  background: url(/img/monster.png) bottom;
  position: relative;
}
/* line 53, ../scss/style.scss */
body main #menu {
  height: 100%;
  width: 950px;
  margin: 0 auto;
}
/* line 57, ../scss/style.scss */
body main #menu .drink {
  margin: 0;
  padding: 0;
  height: 160px !important;
  float: left;
  height: 100%;
  color: white;
  margin-bottom: 40px;
  border: 1px solid white;
  box-sizing: border-box;
  width: 290px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 70, ../scss/style.scss */
body main #menu .drink:first-child, body main #menu .drink:nth-child(2), body main #menu .drink:nth-child(4), body main #menu .drink:nth-child(5) {
  margin-right: 40px;
}
/* line 76, ../scss/style.scss */
body main #menu .drink h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 30px;
  font-family: bangers;
  font-size: 35px;
  letter-spacing: 3px;
  color: black;
}
/* line 86, ../scss/style.scss */
body main #menu .drink ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
/* line 96, ../scss/style.scss */
body main #menu .drink ul li {
  width: 100%;
  font-family: coolvetica;
  font-size: 15px;
  color: black;
}
/* line 105, ../scss/style.scss */
body main .addDrink, body main .removeDrink {
  height: 410px;
  width: 330px;
  z-index: 300;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 15px;
  background-color: #f8a102;
  transition: all ease 1s;
  cursor: pointer;
}
/* line 117, ../scss/style.scss */
body main .addDrink h2, body main .removeDrink h2 {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  transition: all ease 1s;
}
/* line 122, ../scss/style.scss */
body main .addDrink h2:hover, body main .removeDrink h2:hover {
  background-color: #005055;
  transition: all ease 1s;
}
/* line 127, ../scss/style.scss */
body main .addDrink input, body main .removeDrink input {
  display: block;
  border: none;
  width: 80%;
  margin: 0 auto;
  height: 30px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid white;
  color: white;
  font-family: coolvetica;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
/* line 141, ../scss/style.scss */
body main .addDrink input::-webkit-input-placeholder, body main .removeDrink input::-webkit-input-placeholder {
  color: white;
}
/* line 144, ../scss/style.scss */
body main .addDrink input:last-child, body main .removeDrink input:last-child {
  border: none;
  border-radius: 15px;
  background-color: #005055;
  font-family: Creepster;
  font-size: 20px;
  letter-spacing: 4px;
}
/* line 153, ../scss/style.scss */
body main .addDrink h2 + label, body main .removeDrink h2 + label {
  height: 40px;
  display: block;
  text-align: center;
  font-family: creepster;
  color: white;
  width: 100%;
  margin-bottom: 40px;
}
/* line 163, ../scss/style.scss */
body main .addDrink h2 + label + input, body main .removeDrink h2 + label + input {
  margin-bottom: 80px;
}
/* line 168, ../scss/style.scss */
body main .addDrink {
  bottom: -270px;
  left: 10%;
}
/* line 172, ../scss/style.scss */
body main .removeDrink {
  bottom: -270px;
  right: 10%;
}
/* line 176, ../scss/style.scss */
body main .clicked-board {
  bottom: 150px;
  transition: all ease 1s;
}
/* line 182, ../scss/style.scss */
body main form h2 {
  font-family: Bangers;
  font-size: 30px;
  text-align: center;
  color: white;
  width: 100%;
  letter-spacing: 2px;
  height: 30px;
  line-height: 30px;
}
/* line 195, ../scss/style.scss */
body footer {
  width: 100%;
  height: 30px;
  background: url(/img/pattern.jpg);
  background-repeat: repeat-x;
  position: absolute;
  bottom: -10px;
  left: 0;
}

/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Bangers";
  src: url(/fonts/Bangers.eot);
  src: url(/fonts/Bangers.eot?#iefix) format('embedded-opentype'), url(/fonts/Bangers.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "coolvetica";
  src: url(/fonts/coolvetica.eot);
  src: url(/fonts/coolvetica.eot?#iefix) format('embedded-opentype'), url(/fonts/coolvetica.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Creepster";
  src: url(/fonts/Creepster.eot);
  src: url(/fonts/Creepster.eot?#iefix) format('embedded-opentype'), url(/fonts/Creepster.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "handsean";
  src: url(/fonts/handsean.eot);
  src: url(/fonts/handsean.eot?#iefix) format('embedded-opentype'), url(/fonts/handsean.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
